.navigation {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  height: 70px;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(12, 13, 0, 0.2);
}

.navigation__logo {
  margin-left: 20px;
  font-size: 26px;
}

.navigation__logo > a {
  color: #4e4039;
}

.navigation__logo > a:hover {
  color: #eb5d1e;
  text-decoration: none;
}

.navigation__menu {
  margin-right: 200px;
}

.navigation__menu > a {
  margin-left: 16px;
  color: #4e4039;
}

.navigation__menu > a:hover {
  color: #eb5d1e;
  text-decoration: none;
}
